:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  body{
    background-color: #fff896;
  }

/* Imagen de fondo en cabecera */

  header{
    background-image: url("https://www.looper.com/img/gallery/actors-we-want-to-see-in-a-live-action-steven-universe-reboot/intro-1668179872.webp");
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    padding: 20%;
    opacity: 0.9
  }

  /* Navegación */
  
  nav.navbar{
    display:flex;
    justify-content:space-around;
    padding:10px;
    background-color:white;    
  }
  
  nav.navbar img.logo{
    width:25%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
 

 .dropbtn:hover{
    background-color: #f00e25df;
    transition: 0.3s;
  }
 
   .dropbtn {
    background-color: #ff6b82;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    border: none;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #fff896;
    transition: 0.2s;
  }

  .dropdown:hover .dropdown-content {
    display: block
  }
  
  .dropdown:hover .dropbtn {
    background-color: #d60d32;
  }

/* Intro portfolio */
     
  .Steven{
    margin-left: 10px;
    padding: 20px;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
 
  .intro p{
    text-decoration-color: #fff896;
    text-size-adjust: 1em;
    text-decoration: italic;
    padding: 20%;
  }
  .progress {
    height: 35px;
    width: 100%;
    border: 1px solid #e57ee0ed;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
/* Skills */
     
.progress-bar {
    height: 100%;
    background: #e57ee0ed;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}

.skills-article{
  display:inline-grid;
  margin-left:20px;
  padding:5px;
  margin-left: 20px;
}
.skills-article p{
  margin-bottom:5px;
  margin-top:5px;
}

h2{
  font-style: bold;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color:#e586e2;
}
  
/* Cuestionario*/

legend { 
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

fieldset{
  margin:20px;
  padding:10px;
  display:inline-block;
  justify-content:space-evenly;
    
}

/* Formulario de contacto */

  form{
     margin-left: 20px;
  }

  form > div {
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin: 1em auto;
}

form input[type="submit"] {
  background-color: #48feec;
  margin: 3em auto 5em auto;
  font-size: 1em;
  padding:10px;
  border-radius: 5px;
  border: none;
}

form input[type="submit"]:hover{
  background-color: #a99fdc;
  transition: 0.4s;
}

  form > #message {
    width: 90%;
    min-height: 5em;
    max-height: 15em;
    margin: 1em auto 1em auto;
    border-radius: 25px;
    border: 1px solid rgb(229 134 226);
    font-size: 14px;
    padding: 1em;
    box-sizing: border-box;
}

.mensajito {
  margin-top:10px;
  padding: 4%;
}

  footer{
    display: flex;
    background-color: white;
  
}

a{
text-decoration: none;
color:black;
padding:3%;
}


/* Settings para pantallas grandes */

@media only screen and (min-width: 768px) {

  header{
    background-image: url("https://www.looper.com/img/gallery/actors-we-want-to-see-in-a-live-action-steven-universe-reboot/intro-1668179872.webp");
    background-repeat:repeat-x;
    display: flex;
    width: 100%;
    padding: 20%;
    opacity: 0.9
  }

   /* Navegación */
  
   nav.navbar{
    display:flex;
    justify-content:space-around;
    padding:10px;
    background-color:white;    
  }
  
  nav.navbar img.logo{
    max-width: 10%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
 

 .dropbtn:hover{
    background-color: #f00e25df;
    transition: 0.3s;
  }
 
   .dropbtn {
    background-color: #ff6b82;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    border: none;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #fff896;
    transition: 0.2s;
  }

  .dropdown:hover .dropdown-content {
    display: block
  }
  
  .dropdown:hover .dropbtn {
    background-color: #d60d32;
  }


}