:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #fff896;
  }
  header{
    background-image: url("https://www.looper.com/img/gallery/actors-we-want-to-see-in-a-live-action-steven-universe-reboot/intro-1668179872.webp");
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    padding: 20%;
    opacity: 0.9
  }

  h1{
    margin-left: 20px;
    padding: 10px;
  }
 
  
    .navbar{
        display:flex;
        justify-content: space-between;
        
      }
  

      
  nav.navbar img.logo{
    width:25%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .link{
    text-decoration: none;
    color: #fc616f;
    font-size: 2rem;
    display: flex;
    justify-content: end;
     margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .intro{
    text-decoration-color: #fff896;
    text-size-adjust: 1rem;
    text-decoration: italic;
    padding: 20%;
  }
  .progress {
    height: 35px;
    width: 100%;
    border: 1px solid #e57ee0ed;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: #e57ee0ed;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}


article{
    display:inline-grid;
    margin-left:20px;
    padding:5px;
    margin-left: 20px;
  }
  
  form{
     margin-left: 20px;
  }
  
  footer{
    display: flex;
    background-color: white;
  
}

a{
text-decoration: none;
color:black;
padding:3%;
}



  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}